Adding 2 more data sets changed my research question to: How does exposure to extreme heat events affect hospital admissions for cardiovascular disease in the United States, while controlling for air quality and access to green spaces?
Hypothesis: Exposure to extreme heat events, as measured by high temperature and heat index values, will increase the risk of hospital admissions for cardiovascular disease, with potentially greater effects in certain regions and for certain demographic groups. This relationship will be influenced by air pollution and access to green spaces, with higher levels of air pollution and lack of access to green spaces exacerbating the health effects of extreme heat events.
Datasets:
1.	Extreme heat event data from the National Oceanic and Atmospheric Administration (NOAA) National Centers for Environmental Information, downloaded from https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ncdc:C00761.
2.	Cardiovascular disease hospitalization data from the Centers for Disease Control and Prevention (CDC), downloaded from https://www.cdc.gov/dhdsp/data_statistics/index.htm.
3.	Demographic and socioeconomic data from the American Community Survey (ACS), downloaded from https://www.census.gov/programs-surveys/acs.

Added data sets:

4.	Air quality data from the Environmental Protection Agency (EPA) Air Quality System (AQS), downloaded from https://www.epa.gov/aqs.

5.	Green spaces data, downloaded from https://www.mphonline.org/green-states/

 Variables: 
• Extreme heat events: daily maximum temperature for each State in the United States. 
• Cardiovascular disease hospitalizations: number of hospitalizations for cardiovascular disease for each state (2009-2011). 
• Demographic and socioeconomic: population, median household income, and education level for each state. 
• Air quality: indicator is air toxics and the measure is the concentration of Benzene measured in micrograms per cubic meter (ug/m3)
• Green spaces: Rank of each state as based on the following four measures (weights): green energy prevalence (25%), open spaces and natural beauty (25%), waste diversion and recycling (25%) and social justice and access to clean outdoors (25%). 
I will load the initially cleaned merged data set from PS2 as well as the 2 additional data sets

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("C:/Users/User/Desktop/merged_data.xlsx")

In [3]:
print(df1)

                   State  Hospitalizations  Max_temp median_income  \
0                Alabama              62.0     75.01        40,474
1                Arizona              48.8     72.14        46,789
2               Arkansas              61.5     73.84        38,307
3             California              42.8     68.33        57,708
4               Colorado              35.8     56.98        54,046
5            Connecticut              52.0     57.92        64,032
6               Delaware              52.5     63.07        55,847
7   District of Columbia              48.8     65.18        60,903
8                Florida              57.5     80.99        44,409
9                Georgia              55.7     75.45        46,430
10                 Idaho              31.8     52.01        43,490
11              Illinois              58.7     62.82        52,972
12               Indiana              58.1     62.46        44,613
13                  Iowa              43.0     59.02        47,961
14                Kansas              47.2     68.80        48,257
15              Kentucky              70.6     65.54        40,062
16             Louisiana              63.2     79.88        42,505
17                 Maine              49.5     50.64        45,815
18              Maryland              56.9     62.87        68,854
19         Massachusetts              55.0     56.17        62,072
20              Michigan              65.3     53.85        45,413
21             Minnesota              43.8     52.74        55,459
22           Mississippi              63.2     76.31        36,851
23              Missouri              58.8     65.97        44,301
24               Montana              32.3     51.88        42,666
25              Nebraska              42.8     62.18        48,408
26                Nevada              45.0     59.08        51,001
27         New Hampshire              44.1     52.27        61,042
28            New Jersey              64.7     61.20        67,681
29            New Mexico              39.0     67.76        42,090
30              New York              57.4     54.00        54,148
31        North Carolina              56.5     69.55        43,326
32          North Dakota              38.4     51.94        48,670
33                  Ohio              63.5     60.84        45,090
34              Oklahoma              59.4     74.85        42,072
35                Oregon              35.6     55.95        46,560
36          Pennsylvania              62.1     57.87        49,288
37          Rhode Island              50.2     58.30        52,254
38        South Carolina              55.6     74.27        42,018
39          South Dakota              42.1     57.38        45,904
40             Tennessee              61.9     68.20        41,461
41                 Texas              51.9     80.66        48,615
42                  Utah              34.2     57.26        54,744
43               Vermont              36.9     51.40        49,406
44              Virginia              51.3     65.68        60,674
45            Washington              38.9     54.72        55,631
46         West Virginia              67.4     61.19        38,218
47             Wisconsin              45.8     54.10        49,001
48               Wyoming              38.8     51.58        53,512

   Bachelor's degree
0              13.9%
1              16.7%
2              13.2%
3              19.1%
4              23.4%
5              20.2%
6              16.5%
7              23.2%
8              16.6%
9              17.5%
10             16.7%
11             19.2%
12             14.6%
13             17.1%
14             19.3%
15             12.4%
16             14.4%
17             17.3%
18             19.7%
19             22.3%
20             15.6%
21             21.5%
22             12.4%
23             16.0%
24             19.8%
25             19.6%
26             14.3%
27             20.4%
28             22.1%
29             14.2%
30             18.6%
31             17.8%
32             19.7%
33             15.7%
34             15.4%
35             18.3%
36             16.7%
37             18.1%
38             15.8%
39             18.6%
40             14.6%
41             17.3%
42             19.9%
43             20.3%
44             20.1%
45             19.9%
46             10.9%
47             17.4%
48             15.7%

In [6]:
df2 = pd.read_excel("C:/Users/User/Desktop\Greenspaces.xlsx")

In [7]:
print(df2)

             State  Overall Rank  Green Energy Rank  Open Spaces and Beauty  \
0          Alabama            31                 27                      29
1           Alaska            49                 50                      19
2          Arizona            38                 30                      13
3         Arkansas            30                 32                      35
4       California             3                 25                       1
5         Colorado            35                 42                      15
6      Connecticut            22                 31                      16
7         Delaware             9                  1                      21
8          Florida             6                 18                       6
9          Georgia            24                 19                      37
10          Hawaii             2                  1                       2
11           Idaho            17                  1                      46
12        Illinois            45                 34                      28
13         Indiana            46                 29                      34
14            Iowa            27                 11                      50
15          Kansas            44                 35                      49
16        Kentucky            28                 45                      11
17       Louisiana            50                 47                      36
18           Maine             5                  1                      25
19        Maryland            14                 26                       8
20   Massachusetts            13                 16                       5
21        Michigan            12                 24                       4
22       Minnesota            11                 12                      45
23     Mississippi            42                 33                      43
24        Missouri            23                 17                      41
25         Montana            40                 36                      26
26        Nebraska            32                 13                      48
27          Nevada            16                  8                      41
28   New Hampshire             7                 22                      32
29      New Jersey            25                 40                      10
30      New Mexico            39                 48                      32
31        New York            15                 15                       8
32  North Carolina            29                 23                       3
33    North Dakota            47                 39                      47
34            Ohio            36                 38                      26
35        Oklahoma            48                 43                      43
36          Oregon            10                  7                      39
37    Pennsylvania            26                 41                      18
38    Rhode Island             4                  1                      29
39  South Carolina            33                 28                      29
40    South Dakota            21                  9                      38
41       Tennessee            20                 20                      21
42           Texas            36                 44                      21
43            Utah            43                 46                      12
44         Vermont             8                 21                      40
45        Virginia            19                 37                      13
46      Washington             1                 10                       6
47   West Virginia            34                 49                      17
48       Wisconsin            18                 14                      19
49         Wyoming            41                 51                      24

    Waste Diversion and Recycling  Racial Justice And Access to Clean Outdoors
0                              32                                           39
1                              50                                           46
2                              41                                           42
3                              38                                            9
4                               1                                            9
5                              19                                           43
6                              19                                           21
7                               7                                           46
8                               5                                           14
9                              40                                           16
10                             24                                            8
11                             25                                           30
12                             43                                           45
13                             45                                           48
14                             27                                           34
15                             41                                           25
16                             32                                            5
17                             49                                           49
18                              4                                           28
19                             10                                           13
20                             18                                           25
21                             11                                           18
22                             17                                            3
23                             48                                           18
24                             35                                            6
25                             38                                           32
26                             37                                           40
27                              8                                           36
28                              5                                            1
29                             22                                           14
30                             21                                           27
31                             30                                           16
32                             44                                           37
33                             46                                           32
34                             30                                           35
35                             47                                           40
36                             15                                            9
37                              9                                           31
38                             16                                            3
39                             34                                           38
40                             35                                           20
41                             27                                           21
42                             13                                           44
43                             13                                           50
44                              2                                            2
45                             12                                            7
46                              2                                           12
47                             25                                           23
48                             29                                           24
49                             22                                           28

In [9]:
df3 = pd.read_excel("C:/Users/User/Desktop/Airquality.xlsx")

In [10]:
print(df3)

             State  Year  Air Quality           Pollutant
0          Alabama  2011         0.49  Pollutant: Benzene
1          Arizona  2011         0.43  Pollutant: Benzene
2         Arkansas  2011         0.46  Pollutant: Benzene
3       California  2011         0.64  Pollutant: Benzene
4         Colorado  2011         0.87  Pollutant: Benzene
5      Connecticut  2011         0.86  Pollutant: Benzene
6         Delaware  2011         0.69  Pollutant: Benzene
7          Florida  2011         0.53  Pollutant: Benzene
8          Georgia  2011         0.55  Pollutant: Benzene
9           Hawaii  2011         0.42  Pollutant: Benzene
10           Idaho  2011         0.55  Pollutant: Benzene
11        Illinois  2011         0.66  Pollutant: Benzene
12         Indiana  2011         0.66  Pollutant: Benzene
13            Iowa  2011         0.55  Pollutant: Benzene
14          Kansas  2011         0.56  Pollutant: Benzene
15        Kentucky  2011         0.56  Pollutant: Benzene
16       Louisiana  2011         0.52  Pollutant: Benzene
17           Maine  2011         0.51  Pollutant: Benzene
18        Maryland  2011         0.80  Pollutant: Benzene
19   Massachusetts  2011         0.81  Pollutant: Benzene
20        Michigan  2011         0.67  Pollutant: Benzene
21       Minnesota  2011         0.72  Pollutant: Benzene
22     Mississippi  2011         0.42  Pollutant: Benzene
23        Missouri  2011         0.54  Pollutant: Benzene
24         Montana  2011         0.39  Pollutant: Benzene
25        Nebraska  2011         0.55  Pollutant: Benzene
26          Nevada  2011         0.65  Pollutant: Benzene
27   New Hampshire  2011         0.62  Pollutant: Benzene
28      New Jersey  2011         0.91  Pollutant: Benzene
29      New Mexico  2011         0.45  Pollutant: Benzene
30        New York  2011         1.09  Pollutant: Benzene
31  North Carolina  2011         0.50  Pollutant: Benzene
32    North Dakota  2011         0.59  Pollutant: Benzene
33            Ohio  2011         0.80  Pollutant: Benzene
34        Oklahoma  2011         0.55  Pollutant: Benzene
35          Oregon  2011         0.86  Pollutant: Benzene
36    Pennsylvania  2011         0.86  Pollutant: Benzene
37    Rhode Island  2011         0.78  Pollutant: Benzene
38  South Carolina  2011         0.46  Pollutant: Benzene
39    South Dakota  2011         0.40  Pollutant: Benzene
40       Tennessee  2011         0.44  Pollutant: Benzene
41           Texas  2011         0.49  Pollutant: Benzene
42            Utah  2011         0.57  Pollutant: Benzene
43         Vermont  2011         0.55  Pollutant: Benzene
44        Virginia  2011         0.63  Pollutant: Benzene
45      Washington  2011         1.01  Pollutant: Benzene
46   West Virginia  2011         0.52  Pollutant: Benzene
47       Wisconsin  2011         0.60  Pollutant: Benzene
48         Wyoming  2011         0.37  Pollutant: Benzene

In the green spaces worksheet we will remove the following variables 1)Green Energy Rank 2) Open Spaces and Beauty 3)Waste Diversion and Recycling 4)Racial Justice and Access to Clean Outdoors).
We will also change the variable Overall Rank to Green_spaces

In [11]:
df2.drop("Green Energy Rank", axis=1, inplace=True)

In [13]:
df2.drop("Open Spaces and Beauty", axis=1, inplace=True)

In [14]:
df2.drop("Waste Diversion and Recycling", axis=1, inplace=True)

In [16]:
df2.drop("Racial Justice And Access to Clean Outdoors", axis=1, inplace=True)

In [17]:
df2=df2.rename(columns={'Overall Rank': 'Green_spaces'})

In [18]:
print(df2)

             State  Green_spaces
0          Alabama            31
1           Alaska            49
2          Arizona            38
3         Arkansas            30
4       California             3
5         Colorado            35
6      Connecticut            22
7         Delaware             9
8          Florida             6
9          Georgia            24
10          Hawaii             2
11           Idaho            17
12        Illinois            45
13         Indiana            46
14            Iowa            27
15          Kansas            44
16        Kentucky            28
17       Louisiana            50
18           Maine             5
19        Maryland            14
20   Massachusetts            13
21        Michigan            12
22       Minnesota            11
23     Mississippi            42
24        Missouri            23
25         Montana            40
26        Nebraska            32
27          Nevada            16
28   New Hampshire             7
29      New Jersey            25
30      New Mexico            39
31        New York            15
32  North Carolina            29
33    North Dakota            47
34            Ohio            36
35        Oklahoma            48
36          Oregon            10
37    Pennsylvania            26
38    Rhode Island             4
39  South Carolina            33
40    South Dakota            21
41       Tennessee            20
42           Texas            36
43            Utah            43
44         Vermont             8
45        Virginia            19
46      Washington             1
47   West Virginia            34
48       Wisconsin            18
49         Wyoming            41

In the Airquality worksheet we will remove the following variables 1) Year 2) Pollutant.
We will also change the variable Air Quality to Air_quality

In [19]:
df3.drop("Year", axis=1, inplace=True)

In [20]:
df3.drop("Pollutant", axis=1, inplace=True)

In [21]:
df3=df3.rename(columns={'Air Quality': 'Air_quality'})

In [22]:
print(df3)

             State  Air_quality
0          Alabama         0.49
1          Arizona         0.43
2         Arkansas         0.46
3       California         0.64
4         Colorado         0.87
5      Connecticut         0.86
6         Delaware         0.69
7          Florida         0.53
8          Georgia         0.55
9           Hawaii         0.42
10           Idaho         0.55
11        Illinois         0.66
12         Indiana         0.66
13            Iowa         0.55
14          Kansas         0.56
15        Kentucky         0.56
16       Louisiana         0.52
17           Maine         0.51
18        Maryland         0.80
19   Massachusetts         0.81
20        Michigan         0.67
21       Minnesota         0.72
22     Mississippi         0.42
23        Missouri         0.54
24         Montana         0.39
25        Nebraska         0.55
26          Nevada         0.65
27   New Hampshire         0.62
28      New Jersey         0.91
29      New Mexico         0.45
30        New York         1.09
31  North Carolina         0.50
32    North Dakota         0.59
33            Ohio         0.80
34        Oklahoma         0.55
35          Oregon         0.86
36    Pennsylvania         0.86
37    Rhode Island         0.78
38  South Carolina         0.46
39    South Dakota         0.40
40       Tennessee         0.44
41           Texas         0.49
42            Utah         0.57
43         Vermont         0.55
44        Virginia         0.63
45      Washington         1.01
46   West Virginia         0.52
47       Wisconsin         0.60
48         Wyoming         0.37

Now that my data is clean, I will merge the three data sets. 
State is a common variable among all the three data sets, I will merge the data set from problem set 1(df1)
and Greenspaces (df2) on "State"

Then i will used the merged_df above to merge Air Quality data set (df3)on"State"

In [23]:
merged_df = pd.merge(df1, df2, on='State')

In [24]:
merged_df = pd.merge(merged_df, df3, on='State')

In [25]:
print(merged_df)

             State  Hospitalizations  Max_temp median_income  \
0          Alabama              62.0     75.01        40,474
1          Arizona              48.8     72.14        46,789
2         Arkansas              61.5     73.84        38,307
3       California              42.8     68.33        57,708
4         Colorado              35.8     56.98        54,046
5      Connecticut              52.0     57.92        64,032
6         Delaware              52.5     63.07        55,847
7          Florida              57.5     80.99        44,409
8          Georgia              55.7     75.45        46,430
9            Idaho              31.8     52.01        43,490
10        Illinois              58.7     62.82        52,972
11         Indiana              58.1     62.46        44,613
12            Iowa              43.0     59.02        47,961
13          Kansas              47.2     68.80        48,257
14        Kentucky              70.6     65.54        40,062
15       Louisiana              63.2     79.88        42,505
16           Maine              49.5     50.64        45,815
17        Maryland              56.9     62.87        68,854
18   Massachusetts              55.0     56.17        62,072
19        Michigan              65.3     53.85        45,413
20       Minnesota              43.8     52.74        55,459
21     Mississippi              63.2     76.31        36,851
22        Missouri              58.8     65.97        44,301
23         Montana              32.3     51.88        42,666
24        Nebraska              42.8     62.18        48,408
25          Nevada              45.0     59.08        51,001
26   New Hampshire              44.1     52.27        61,042
27      New Jersey              64.7     61.20        67,681
28      New Mexico              39.0     67.76        42,090
29        New York              57.4     54.00        54,148
30  North Carolina              56.5     69.55        43,326
31    North Dakota              38.4     51.94        48,670
32            Ohio              63.5     60.84        45,090
33        Oklahoma              59.4     74.85        42,072
34          Oregon              35.6     55.95        46,560
35    Pennsylvania              62.1     57.87        49,288
36    Rhode Island              50.2     58.30        52,254
37  South Carolina              55.6     74.27        42,018
38    South Dakota              42.1     57.38        45,904
39       Tennessee              61.9     68.20        41,461
40           Texas              51.9     80.66        48,615
41            Utah              34.2     57.26        54,744
42         Vermont              36.9     51.40        49,406
43        Virginia              51.3     65.68        60,674
44      Washington              38.9     54.72        55,631
45   West Virginia              67.4     61.19        38,218
46       Wisconsin              45.8     54.10        49,001
47         Wyoming              38.8     51.58        53,512

   Bachelor's degree  Green_spaces  Air_quality
0              13.9%            31         0.49
1              16.7%            38         0.43
2              13.2%            30         0.46
3              19.1%             3         0.64
4              23.4%            35         0.87
5              20.2%            22         0.86
6              16.5%             9         0.69
7              16.6%             6         0.53
8              17.5%            24         0.55
9              16.7%            17         0.55
10             19.2%            45         0.66
11             14.6%            46         0.66
12             17.1%            27         0.55
13             19.3%            44         0.56
14             12.4%            28         0.56
15             14.4%            50         0.52
16             17.3%             5         0.51
17             19.7%            14         0.80
18             22.3%            13         0.81
19             15.6%            12         0.67
20             21.5%            11         0.72
21             12.4%            42         0.42
22             16.0%            23         0.54
23             19.8%            40         0.39
24             19.6%            32         0.55
25             14.3%            16         0.65
26             20.4%             7         0.62
27             22.1%            25         0.91
28             14.2%            39         0.45
29             18.6%            15         1.09
30             17.8%            29         0.50
31             19.7%            47         0.59
32             15.7%            36         0.80
33             15.4%            48         0.55
34             18.3%            10         0.86
35             16.7%            26         0.86
36             18.1%             4         0.78
37             15.8%            33         0.46
38             18.6%            21         0.40
39             14.6%            20         0.44
40             17.3%            36         0.49
41             19.9%            43         0.57
42             20.3%             8         0.55
43             20.1%            19         0.63
44             19.9%             1         1.01
45             10.9%            34         0.52
46             17.4%            18         0.60
47             15.7%            41         0.37

In [26]:
merged_df.to_excel("C:/Users/User/Desktop/newmerged_data.xlsx", index=False)